<?xml version="1.0" encoding="UTF-8"?>
<!--
Copyright 2012 Oliover Geith

Licensed under the MIT License (see LICENSE.txt)
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.geithonline.android.basics.preferences"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="21" />

</manifest>